<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 Ha Duy Trung
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.hidroh.materialistic">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk tools:overrideLibrary="android.support.customtabs" />

    <application
        android:name=".Application"
        android:supportsRtl="false"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name=".ListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item" >
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="item"
                    android:pathPrefix="/"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:launchMode="singleTop"> <!-- required to get search intents -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_favorite" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name=".AskActivity"
            android:label="@string/title_activity_ask" >
        </activity>
        <activity
            android:name=".JobsActivity"
            android:label="@string/title_activity_jobs" >
        </activity>
        <activity
            android:name=".PopularActivity"
            android:label="@string/title_activity_popular" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_stories" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppAlertDialog">
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:label="@string/title_activity_submit">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/user"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_user" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="user"
                    android:pathPrefix="/"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreadPreviewActivity"
            android:label="@string/title_activity_thread_preview"
            android:theme="@style/AppAlertDialog">
        </activity>
        <service android:name=".accounts.AuthenticatorService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <provider
            android:authorities="io.github.hidroh.materialistic.provider"
            android:name=".data.MaterialisticProvider"
            android:exported="false" />
        <provider
            android:authorities="io.github.hidroh.materialistic.recentprovider"
            android:name=".data.SearchRecentSuggestionsProvider"
            android:exported="false" />
    </application>

</manifest>
