<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 Ha Duy Trung
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.hidroh.materialistic">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission android:name="io.github.hidroh.materialistic.permission.SYNC_ITEM"
        android:protectionLevel="signature" />
    <permission android:name="io.github.hidroh.materialistic.permission.AUTHENTICATE_ACCOUNTS"
        android:protectionLevel="signature" />
    <uses-permission android:name="io.github.hidroh.materialistic.permission.SYNC_ITEM" />
    <uses-permission android:name="io.github.hidroh.materialistic.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-sdk tools:overrideLibrary="androidx.browser" />

    <application
        android:name=".Application"
        android:supportsRtl="false"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name=".LauncherActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list">
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item">
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="item"
                    android:pathPrefix="/"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:launchMode="singleTop"> <!-- required to get search intents -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_favorite" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
        <activity
            android:name=".ShowActivity"
            android:label="@string/title_activity_show" >
        </activity>
        <activity
            android:name=".AskActivity"
            android:label="@string/title_activity_ask" >
        </activity>
        <activity
            android:name=".JobsActivity"
            android:label="@string/title_activity_jobs" >
        </activity>
        <activity
            android:name=".BestActivity"
            android:label="@string/title_activity_best" >
        </activity>
        <activity
            android:name=".PopularActivity"
            android:label="@string/title_activity_popular" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable_stories" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:permission="android.permission.WRITE_SECURE_SETTINGS">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".OfflineWebActivity" />
        <activity
            android:name=".ReleaseNotesActivity"
            android:label="@string/title_activity_release"
            android:theme="@style/AppAlertDialog" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppAlertDialog">
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppAlertDialog">
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:label="@string/title_activity_submit">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_item" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/user"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_user" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="user"
                    android:pathPrefix="/"
                    android:scheme="${applicationId}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThreadPreviewActivity"
            android:label="@string/title_activity_thread_preview"
            android:theme="@style/AppAlertDialog">
        </activity>
        <activity
            android:name=".appwidget.WidgetConfigActivity"
            android:theme="@style/AppAlertDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service android:name=".accounts.AuthenticatorService"
            android:permission="io.github.hidroh.materialistic.permission.AUTHENTICATE_ACCOUNTS">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".data.ItemSyncService"
            android:process=":sync"
            android:permission="io.github.hidroh.materialistic.permission.SYNC_ITEM">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".data.ItemSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
        <service
            android:name=".appwidget.WidgetRefreshJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />
        <service
            android:name=".appwidget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".data.WebCacheService"
            android:exported="false" />
        <provider
            android:authorities="io.github.hidroh.materialistic.syncprovider"
            android:name=".data.SyncContentProvider"
            android:exported="false" />
        <provider
            android:authorities="io.github.hidroh.materialistic.recentprovider"
            android:name=".data.SearchRecentSuggestionsProvider"
            android:exported="false" />
        <provider
            android:authorities="io.github.hidroh.materialistic.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver android:name=".data.ItemSyncWifiReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".appwidget.WidgetProvider"
                  tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="io.github.hidroh.materialistic.ACTION_REFRESH_WIDGET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_info" />
        </receiver>
    </application>

</manifest>
